html {
  position: relative;
  min-height: 100%;
}

body {
  /* The image used */
  background-image:
        /* Darken background image. See this: https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css */
        /* top, transparent black, faked with gradient */
        linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url("./images/background.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  z-index:-1;
}

/* custom navbar color to match 25kg plate */
.navbar {
  background-color: rgba(187, 39, 51)
}

.intro {
  margin-top: 10vh;
}

.query-result {
  /* use viewpoint-height to dynamically set the height based on screen size */
  height: 50vh;
  /* overflow set to auto to allow for scroll bar within content */
  overflow: auto;
  /* match 15kg plate */
  background-color: rgba(230, 199, 31, 0.9);
  font-size: 12px;
}

/* reduce font size of drop-down menu */
.bootstrap-select .dropdown-menu li {
  font-size: 13px;
}

/* Header stay in place */
thead th {
  position: sticky;
  top: 0;
}
/* Add some vertical borders */
.left-border {
  border-left: 1px solid black;
}

/* for sticky footer. See here for reference: https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/# */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  /* match 10kg plate */
  background-color: rgba(41, 62, 151);
}

.footer-text {
  font-size: 13px;
}